// Global default params, used in configs
params {

    // Input options
    input                       = null

    // genome
    params.fasta                = []
    params.transcript_fasta     = []
    params.additional_fasta     = []
    params.gtf                  = []
    params.gff                  = []
    params.gene_bed             = []
    params.star_index           = []
    params.salmon_index         = []

    // fastp
    adapter_fasta               = []
    save_trimmed_fail           = false
    save_merged                 = false

    // star genomegenerate
    fasta                       = []
    star_index_gtf              = []

    // star align
    index                       = []
    star_align_gtf              = []
    star_ignore_sjdbgtf         = true
    seq_platform                = false
    seq_center                  = false

    // salmon index
    transcript_fasta            = []

    // salmon quant
    salmon_alignment_mode       = []
    salmon_lib_type             = []

    // samtools options
    fastq_interleave            = false
    view_qname                  = []

    // multiqc options
    multiqc_config              = []
    extra_multiqc_config        = []
    multiqc_logo                = []


    // Boilerplate options
    outdir                     = './results'
    publish_dir_mode           = 'copy'
    conda_cacheDir             = []
    singularity_cacheDir       = []

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '60.GB'
    max_cpus                   = 30
    max_time                   = '240.h'

}

// import statement for execution profiles
profiles {
    chia         { includeConfig 'conf/chia.config'     }

    conda {
        conda.enabled           = true
        singularity.enabled     = false
    }
    singularity {
        conda.enabled           = false
        singularity.enabled     = true
        singularity.autoMounts  = true
    }
}

//
// Generic process options for all workflows
//
process {

    publishDir = [
        path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
    ]

    errorStrategy = { task.attempt <= 3 ? 'retry' : 'finish' }
    maxRetries = 3

}

//
//  Process options for the subworkflow
//

//
// Load modules.config for DSL2 module specific options
//
includeConfig 'conf/modules.config'

//
//  Process options for the modules
//
includeConfig 'conf/modules/pre_fastqc.config'
includeConfig 'conf/modules/fastp.config'
includeConfig 'conf/modules/post_fastqc.config'
includeConfig 'conf/modules/star_align.config'
includeConfig 'conf/modules/multiqc.config'

manifest {
    name            = ''
    author          = """Modeline Longjohn"""
    homePage        = 'https://github.com/'
    description     = """"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.1'
    version         = '1.0'
}
