/*
========================================================================================
    Nextflow config file for running on chia
========================================================================================
    Defines everything required to run the pipeline on the chia LSF cluster.

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'chia_profile'
    config_profile_description = 'Increased setting to allow for pipeline execution on chia LSF cluster'

    // Limit resources so that this can run on normal queue
    max_cpus   = 30
    max_memory = 56.GB
    max_time   = 72.h
}

singularity {
    // set singularity cacheDir
    cacheDir    = "/research/project/shared/benoukraf_lab/.singularity_cache"
    autoMounts  = true
}

executor {
    name            = 'lsf'
    queue           = 'normal'
    perJobMemLimit  = '56 GB'
    jobName         = 'RNAseqTest'
    // queueSize       = 75
    // submitRateLimit = '2/1sec'
}
